.infoTaskContainer {
  margin-top: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoTaskContainer strong {
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.infoTaskCreated strong {
  color: var(--blue-500); 
}

.infoTaskDone strong {
  color: var(--purple-500); 
}

.infoTaskCreated span, 
.infoTaskDone span {
  margin-left: 0.8rem;
  padding: 2px 8px;
  background: var(--gray-400);
  border-radius: 999px;

  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;

  color: var(--gray-200);
}

@media screen and (max-width: 768px) {
  .infoTaskContainer {
    margin-top: 2rem;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;
  }
  .infoTaskContainer strong {
    font-size: 1.2rem;
  }

  .infoTaskCreated, .infoTaskDone {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .infoTaskCreated span, 
.infoTaskDone span {
  font-size: 1rem;
}
}
@media screen and (max-width: 320px) {
  .infoTaskContainer strong {
    font-size: 1rem;
  }
}