.newTaskContainer {
  width: 100%;
  margin-top: calc(0px - 1.5rem - 24px);
}

.newTaskContainer form {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.newTaskContainer input {
  flex: 1;
  height: 5.4rem;
  padding: 1.6rem;
  background-color: var(--gray-500);
  border: none;
  border-radius: 8px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140%;

  color: var(--gray-100);
}

.newTaskContainer input::placeholder {
  color: var(--gray-300);
}

.newTaskContainer button {
  height: 5.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  gap: 8px;

  background: var(--blue-800);
  border-radius: 8px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 140%;

  color: var(--gray-100);
  border: none;

  transition: background 0.2s;
}

.newTaskContainer button:hover {
  background: var(--blue-500);
}